.progress-bar {
    -fx-indeterminate-bar-length: 40;
    -fx-indeterminate-bar-escape: true;
    -fx-indeterminate-bar-flip: true;
    -fx-indeterminate-bar-animation-time: 1.20;
}
.progress-bar > .bar {
    -fx-background-color: red;
    -fx-background-insets: 3 3 4 3;
    -fx-background-radius: 2;
    -fx-padding: 0.75em;
}
.progress-bar:indeterminate > .bar {
    -fx-background-color: #00a896;
    -fx-background-insets: 0, 0 0 1 0, 1 1 2 1;
    -fx-padding: 0.10em;

}
.progress-bar > .track {
    -fx-background-color:
            white;
    -fx-background-insets: 0, 0 0 1 0, 1 1 2 1;
}